
.react-switch-bg {
    background: #0a0a0a !important;
    /* height: 24px !important;
    width: 43px !important; */
}

.react-switch-bg div svg {
    display: none !important;
}

.react-switch-handle {
    background: #ab0b0b !important;
    /* box-shadow: 1px 2px 8px 5px black !important; */
    /* height: 22px !important;
    width: 22px !important; */
    /* transform: translateX(29px) !important; */
}

.react-switch-handle {
    box-shadow: none !important;
}
